<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--欢迎清单-->
    <welcome-file-list>
        <welcome-file>/page/public/index.html</welcome-file>
    </welcome-file-list>

    <!--登录过滤器-->
    <filter>
        <filter-name>ExistUserFilter</filter-name>
        <filter-class>com.account.filter.ExistUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExistUserFilter</filter-name>
        <url-pattern>/page/private/*</url-pattern>
    </filter-mapping>

    <!--字符编码过滤器-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>com.account.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--用户登录servlet-->
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.account.servlet.user.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/UserLoginServlet</url-pattern>
    </servlet-mapping>

    <!--用户退出登录-->
    <servlet>
        <servlet-name>UserQuitServlet</servlet-name>
        <servlet-class>com.account.servlet.user.UserQuitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserQuitServlet</servlet-name>
        <url-pattern>/user/UserQuitServlet</url-pattern>
    </servlet-mapping>

    <!--登录成功后，显示用户数据-->
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>com.account.servlet.user.ShowUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/user/ShowUser</url-pattern>
    </servlet-mapping>

    <!--用户注册-->
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.account.servlet.user.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/user/UserRegisterServlet</url-pattern>
    </servlet-mapping>

    <!--查询显示所有的记录制成图表显示-->
    <servlet>
        <servlet-name>AllAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.AllAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllAccountServlet</servlet-name>
        <url-pattern>/account/AllAccountServlet</url-pattern>
    </servlet-mapping>

    <!--查询显示本周的记录制成图表显示-->
    <servlet>
        <servlet-name>WeekAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.WeekAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeekAccountServlet</servlet-name>
        <url-pattern>/account/WeekAccountServlet</url-pattern>
    </servlet-mapping>

    <!--查询显示本月份的记录制成图表显示-->
    <servlet>
        <servlet-name>MonthAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.MonthAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonthAccountServlet</servlet-name>
        <url-pattern>/account/MonthAccountServlet</url-pattern>
    </servlet-mapping>

    <!--进入系统时查询显示所欲的记录分页显示-->
    <servlet>
        <servlet-name>ShowAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.ShowAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAccountServlet</servlet-name>
        <url-pattern>/account/ShowAccountServlet</url-pattern>
    </servlet-mapping>

    <!--删除记录-->
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/account/DeleteAccountServlet</url-pattern>
    </servlet-mapping>

    <!--添加账目-->
    <servlet>
        <servlet-name>InsertAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.InsertAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertAccountServlet</servlet-name>
        <url-pattern>/account/InsertAccountServlet</url-pattern>
    </servlet-mapping>

    <!--跳转到修改页面-->
    <servlet>
        <servlet-name>ToUpdatePageServlet</servlet-name>
        <servlet-class>com.account.servlet.account.ToUpdatePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ToUpdatePageServlet</servlet-name>
        <url-pattern>/account/ToUpdatePageServlet</url-pattern>
    </servlet-mapping>

    <!--修改提交-->
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>com.account.servlet.account.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/account/UpdateAccountServlet</url-pattern>
    </servlet-mapping>

    <!--统计在线人数Listener-->
    <listener>
        <listener-class>com.account.listener.OnlineNumberListener</listener-class>
    </listener>
    <error-page>
        <error-code>404</error-code>
        <location>/page/public/error.html</location>
    </error-page>
</web-app>